<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Proxy API requests to Backend (Port 3000)
  RewriteRule ^api/(.*)$ http://127.0.0.1:3000/api/$1 [P,L]
  RewriteRule ^auth/(.*)$ http://127.0.0.1:3000/auth/$1 [P,L]

  # React Router - Rewrite all other requests to index.html
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
